# IDE settings
.vscode

# Analysis and temporary files
analyze
exper/*
temp
tgb/DATA*/*
tmp/
graph_test

# Log files
*.log
*.pid
*.txt

# Build files
build
dist
LLM_CDHG.egg-info
*.so

# Python files
__pycache__/